<div class="product-page">
    <app-sidebar class="side"></app-sidebar>
    <div class="info">
        <h2>Clientes</h2>
        <article class="forms-container">
            <form class="form">
                <input *ngFor="let item of listaP" type="text" [name]="item" 
                [placeholder]="item" autocomplete="off">
                <!--guardar producto-->
                <button *ngIf="editar==false" class="btn btn-save">Guardar</button>
                <!--editar producto-->
                <div class="edit-buttons">
                    <button *ngIf="editar==true" (click)="cancelarEdit()" class="btn btn-cancel">Cancelar</button>
                    <button *ngIf="editar==true" class="btn btn-edit">Editar</button>
                </div>
            </form>
        </article>
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let title of listaP">{{title}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td><a (click)="editarProducto()">Editar  </a>|<a>  Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 
