<div class="product-page">
    <app-sidebar class="side"></app-sidebar>
    <div class="info">
        <h2>Productos</h2>
        <article class="forms-container">
            <form class="form">
                <input type="text" name="codigo" placeholder="Código" autocomplete="off"  [(ngModel)]="codigo" >
                <input type="text" name="nit" placeholder="Nit Proveedor" autocomplete="off"  [(ngModel)]="nit" >
                <input type="text" name="nombre" placeholder="Nombre" autocomplete="off"  [(ngModel)]="nombre" >
                <input type="text" name="precioCompra" placeholder="Precio Compra" autocomplete="off"  [(ngModel)]="precioC" >
                <input type="text" name="ivaCompra" placeholder="iva Compra" autocomplete="off"  [(ngModel)]="ivaC" >
                <input type="text" name="precioVenta" placeholder="precio Venta" autocomplete="off"  [(ngModel)]="precioV" >
                <!--guardar producto-->
                <button *ngIf="editar==false" (click)="guardarProducto()" class="btn btn-save">Guardar</button>
                <!--editar producto-->
                <div class="edit-buttons">
                    <button *ngIf="editar==true" (click)="cancelarEdit()" class="btn btn-cancel">Cancelar</button>
                    <button *ngIf="editar==true" (click)="editarProducto()" class="btn btn-edit">Editar</button>
                </div>
            </form>
            <div class="file-container">
                <h3>Subir Archivo</h3>
                <input type="file" id="fileinput" (change)="fileUpload($event)" accept=".csv">
                <button class="upload" (click)="reload()">cargar archivo</button>
            </div>
        </article>
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let title of listaP">{{title}}</th>
                    <th><a class="deleteAll" (click)="eliminarTodo($event)">Eliminar Todo</a></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of contenido">
                    <td> {{producto.codigo}} </td>
                    <td> {{producto.nit}} </td>
                    <td> {{producto.nombre}} </td>
                    <td> {{producto.precioCompra}} </td>
                    <td> {{producto.ivaCompra}} </td>
                    <td> {{producto.precioVenta}} </td>
                    <td><a (click)="obtenerProducto(producto.codigo)">Editar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 
