<section class="sidebar">
    <div class="user-title">
        <h2>ADMIN</h2>
    </div>
    <a [routerLink]="['/productos']" class="clicleable products">
        <img src="../../../assets/img/cuadrado_white.png" alt="productos">
        <h3>productos</h3>
    </a>
    <a [routerLink]="['/clientes']" class="clicleable client" >
        <img src="../../../assets/img/user_white.png" alt="clientes">
        <h3>clientes</h3>
    </a>
    <a [routerLink]="['/ventas']" class="clicleable sell">
        <img src="../../../assets/img/cart_white.png" alt="ventas">
        <h3>ventas</h3>
    </a>
    <a [routerLink]="['/reportes']" class="clicleable report">
        <img src="../../../assets/img/report_white.png" alt="reportes">
        <h3>reportes</h3>
    </a>
    <a class="clicleable con">
        <img src="../../../assets/img/con_white.png" alt="consolidación">
        <h3>consolidación</h3>
    </a>
    <a [routerLink]="['']" class="exit" href="">
        <img src="../../../assets/img/salir.png" alt="salir">
        <h3>Salir</h3>
    </a>
</section>
